<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Starcraft Commandos</title>
    <organization>SheepnDreams</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <camera speed="500" offset_x="30" offset_y="30" limit_x="-3456" limit_y="-3616"/>
  </renderer>

  <fonts>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </fonts>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>
    
  <window>
    <resolution width="640" height="480" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>game_data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <entity_manager>
    <units_path value="units_data.xml"/>
  </entity_manager>

</config>